/***** ALL PAGES ******/

body {
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: bold;
	letter-spacing: 7px;
	word-spacing: 5px;
	font-size: 60px;
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

h1 > a {
	color: black;
}

h1 > a:hover, a:focus {
	color: #bfbfbf;
	text-decoration: none;
}

.nav {
	font-weight: bold;
	text-align: center;
	letter-spacing: 3px;
	padding-bottom: 60px;
}

.nav > li > a {
	color: #c3c3c3;
}

.nav > li > a:hover, a:focus {
	color: #D3D3D3;
	background-color: white;

}


/***** ABOUT PAGE *****/


.about-block {
	background-color: #f9f9f9;
	margin-right: 0px;
	margin-left: 0px;
}

.about-text {
	font-size: 18px;
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
}

.about-buttons {
	text-align: center;
	letter-spacing: 20px;
	padding-top: 25px;
}

.about-buttons > .btn {
	font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
	border-radius: 0px;
	letter-spacing: 1px;
	background-color: black;
	color: white;
	font-size:12px;
}

.about-buttons > .btn:hover, .btn:focus {
  	/*-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);*/
	/*color: #D3D3D3;*/
	opacity: 0.8;
}

.about-photo {
	padding-right: 0px;
}


/***** EDUCATION & EXPERIENCE PAGES *****/

.text-content-row {
	background-color: #f9f9f9;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	padding: 40px 30px 30px 30px;
}

.text-content-row a {
	color: black;
	text-decoration: underline;
}

.text-content-row a:hover, a:focus {
	text-decoration: none;
	/*color:white;
	background-color: black;*/
}

a.box-title-link {
	text-decoration: none;
	font-weight: bold;
}

a.box-title-link:hover, a.box-title-link:focus {
	text-decoration: underline;
}


/***** PROJECTS PAGES *****/

.gallery-content-row {
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 35px;
}

.project-box > .btn {
	font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
	border-radius: 0px;
	letter-spacing: 1px;
	background-color: black;
	color: white;
	font-size:12px;
	position:absolute;
    top: 10px;
    left: 25px;
}

.project-box > .btn:hover {
	opacity: 0.8;
}


/**** OTHER ****/


.copyright {
	padding-left:20px;
	padding-top: 50px;
	font-size: 10px;
	position: fixed;
    bottom: 0px;
    z-index: 99;
}

.copyright a {
	color: black;
	text-decoration: underline;
}

.copyright a:hover, a:focus {
	text-decoration: none;
}

.error404 {
	position: relative;
	color: #f3f3f3;
	margin-top: -20px;
}

.error404 h4 {
	position: absolute;
	top: 20%;
	right: 55%;
	font-weight: bold;
	font-size: 35px;
	color: #f3f3f3;
}

.error404 p {
	position: absolute;
	font-size: 20px;
	font-weight: normal;
	width: 200px;
	top: 130%;
	color: #f3f3f3;
}

.error404 a {
	position: absolute;
	font-size: 20px;
	font-weight: normal;
	color: #f3f3f3;
	text-decoration: underline;
	top: 290%;
	width: 135%;
	text-align: left;
	display: block;
}

.error404 a:hover {
	color: black;
	background-color: white;
	text-decoration: none;
}

.error404 img {
	max-width: 100%;
}
